{% if url %}
<a href="{{ url }}" class="text-decoration-none text-reset">
{% endif %}

<div class="kpi-card">

    <div class="card-body">

        <div class="kpi-header">

            <div>

                <div class="kpi-value">
                    {{ value }}
                </div>

                <div class="kpi-label">
                    {{ title }}
                </div>

                {% if subtitle %}
                <small class="text-{{ subtitle_color|default:'success' }}">
                    {{ subtitle }}
                </small>
                {% endif %}

            </div>

            <div class="kpi-icon {{ icon_class|default:'primary' }}">
                <i class="{{ icon }}"></i>
            </div>

        </div>

    </div>

</div>

{% if url %}
</a>
{% endif %}