{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card border-danger">

        <div class="card-header bg-danger text-white">

            Delete Course

        </div>

        <div class="card-body">

            <p>

                Are you sure you want to delete:

                <strong>

                    {{ course.course_code }}

                    -

                    {{ course.course_name }}

                </strong>

            </p>

            <form method="post">

                {% csrf_token %}

                <button
                    type="submit"
                    class="btn btn-danger">
                    Delete
                </button>

                <a href="{% url 'course_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}