body{

    background-color:#cdb6de;

}

.navbar-brand{

    font-weight:bold;

    letter-spacing:1px;

}

.card{

    border:none;

    border-radius:10px;

}

.card-header{

    font-weight:bold;

}

.table{

    margin-bottom:0;

}

footer{
    margin-top:400px;
}

