{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h3>Delete Enrollment</h3>

    <p>
        Are you sure you want to delete:
        <strong>{{ enrollment }}</strong>?
    </p>

    <form method="post">

        {% csrf_token %}

        <button
            type="submit"
            class="btn btn-danger">
            Delete
        </button>

        <a
            href="{% url 'enrollment_list' %}"
            class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

{% endblock %}