{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>TVET ERP</title>

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}">

</head>

<body>

<header>

    <div class="logo">

        TVET ERP

    </div>

</header>

<nav>

    <a href="{% url 'home' %}">

        Dashboard

    </a>


    <a href="{% url 'student_list' %}">

    Students

    </a>

    <a href="#">

        Programmes

    </a>

    <a href="#">

        Departments

    </a>

    <a href="#">

        Finance

    </a>

</nav>

<main>

{% block content %}

{% endblock %}

</main>

<footer>

© 2026 TVET ERP

</footer>

</body>

</html>