{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#012169">

    <title>
        {% block title %}
            Xorami College ERP
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/erp.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    {% block extra_css %}{% endblock %}
</head>

<body class="erp-body">

<div id="app" class="erp-wrapper">

    {% include "includes/sidebar.html" %}

    <div class="erp-main">

        {% include "includes/topbar.html" %}

        <main class="erp-content">

            {% include "includes/messages.html" %}

            {% block content %}
            {% endblock %}

        </main>

        {% include "includes/footer.html" %}

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>

</html>