{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header">
            Delete Assignment
        </div>

        <div class="card-body">

            <p>

                Are you sure you want to delete:

                <strong>
                    {{ assignment }}
                </strong>

            </p>

            <form method="post">

                {% csrf_token %}

                <button type="submit"
                        class="btn btn-danger">
                    Delete
                </button>

                <a href="{% url 'lecturer_assignment_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}